@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(48, 52, 57); */
}

button {
    outline: none;
    height: 3.5rem;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
    font-family: Barlow, sans-serif;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.5;
}